<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sublimeslime.android.bravurabrowser" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:name="com.sublimeslime.android.bravurabrowser.ViewSMuFLFontApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.sublimeslime.android.bravurabrowser.activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- set action bar search widget target -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.SearchResultsActivity" />
        </activity>

        <activity
            android:name="com.sublimeslime.android.bravurabrowser.activities.SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:launchMode="singleTop"
            android:parentActivityName="com.sublimeslime.android.bravurabrowser.activities.MainActivity" >

            <!-- make this activity the target of the action bar search from MainActivity -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

        <activity
            android:name="com.sublimeslime.android.bravurabrowser.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.sublimeslime.android.bravurabrowser.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

        <activity
            android:name="com.sublimeslime.android.bravurabrowser.activities.GlyphDetailActivity"
            android:label="@string/title_activity_glyph_detail"
            android:parentActivityName="com.sublimeslime.android.bravurabrowser.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

        <provider
            android:name=".data.SMufFLContentProvider"
            android:authorities="com.sublimeslime.android.smuflbrowser.contentprovider"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>
